.specification {
    padding-top: 51px;

    .specification-inner {
        border: 1px solid var(--color-gray-lite);
        border-radius: var(--radius-default);
        overflow: hidden;
    }

    .title {
        padding: 15px 20px;
        background: var(--color-white-dark);
    }
}

.specification-list {
    padding: 25px 20px !important;

    li {
        display: flex;
        margin-bottom: 18px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    label {
        font-weight: var(--font-medium);
        line-height: 23px;
        width: 190px;
        min-width: 190px;
        margin-bottom: 0;
    }

    span {
        line-height: 23px;
        color: var(--color-gray);
    }
}

/* Extra specificity to prevent vendor overrides causing zero padding */
.specification .specification-inner .specification-row ul.specification-list {
    padding: 25px 20px !important;
}

@media screen and (max-width: 991px) {
    .specification {
        padding: 25px 0 15px;
    }
    .specification-list {
        label { font-size: 14px; }
        span { font-size: 13px; }
    }
}

@media screen and (max-width: 767px) {
    .specification-list {
        li {
            flex-direction: column;
        }

        label {
            margin-bottom: 3px;
            font-size: 13px;
        }
        span { font-size: 12px; }
    }
}
