.translatable-field .toggle_form ul.dropdown-menu {
    top: 40px;
}
.panel-heading-action a.list-toolbar-btn {
    text-align: center;
}
.panel-heading-action a.list-toolbar-btn:not(:hover) {
    color: #777!important;
}

.back-to-product:hover .icon-back:before {
    background-image: url('data:image/svg+xml;charset=utf8,<svg style="fill:rgb(25 169 198);" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/></svg>');
}
.module_error.alert.alert-danger li {
    font-size: 13px;
}
.ets-czf-item-lang-input .context-text-wrapper {
    width: 100%;
    display: block;
    position: relative;
}
.panel-heading a.list-toolbar-btn {
    text-align: center;
}
.process-icon-cancel.svg_process-icon:before {
    display:none;
}
.adminproducts .form-group input[type="input"] + label:not(.label-switch),
.adminproducts .form-group input[type="radio"] + label:not(.label-switch),
.adminproducts .form-group input[type="checkbox"] + label:not(.label-switch){
    position: static;
}
div#supplier_combination_collection > .row .panel {
    width: 100%;
    margin-bottom: 20px;
}
button.btn-sm.btn-link.loading i {
    color: transparent;
    position: relative;
}

button.btn-sm.btn-link.ets_pmn_delete_image.loading i:after {
    width: 14px;
    height: 14px;
    margin-top: -7px;
    border-width: 1px;
    margin-left: -7px;
    border-top: 1px solid #666!important;
    border-bottom: 1px solid #666!important;
}

.btn.btn-default:hover .process-icon-cancel.svg_process-icon svg {
    fill: #fff;
}
button[name="btnSubmitRessetToDefaultList"] i,
button[name="btnSubmitArrangeListProduct"] i {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: auto;
    float: none;
    line-height:1;
    font-size: 28px;
    position: relative;
}
.btn.btn-default.loading i.fa[class*="process-icon-"]:after {
    width: 22px;
    height: 22px;
    margin-left: -11px;
}
button[name="btnSubmitRessetToDefaultList"] i:before,
button[name="btnSubmitArrangeListProduct"] i:before{
    font-size: 28px!important;
}
button#submitAddProduct i:before {
    content: "\F0FE";
}
button[name="btnSubmitRessetToDefaultList"] {
    text-align: center!important;
}

#delete-combinations .ets_svg-delete:before{
    background-image: url('data:image/svg+xml;charset=utf8,<svg style="fill:rgb(108 134 142);" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M704 736v576q0 14-9 23t-23 9h-64q-14 0-23-9t-9-23v-576q0-14 9-23t23-9h64q14 0 23 9t9 23zm256 0v576q0 14-9 23t-23 9h-64q-14 0-23-9t-9-23v-576q0-14 9-23t23-9h64q14 0 23 9t9 23zm256 0v576q0 14-9 23t-23 9h-64q-14 0-23-9t-9-23v-576q0-14 9-23t23-9h64q14 0 23 9t9 23zm128 724v-948h-896v948q0 22 7 40.5t14.5 27 10.5 8.5h832q3 0 10.5-8.5t14.5-27 7-40.5zm-672-1076h448l-48-117q-7-9-17-11h-317q-10 2-17 11zm928 32v64q0 14-9 23t-23 9h-96v948q0 83-47 143.5t-113 60.5h-832q-66 0-113-58.5t-47-141.5v-952h-96q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h309l70-167q15-37 54-63t79-26h320q40 0 79 26t54 63l70 167h309q14 0 23 9t9 23z"/></svg>');
}
#delete-combinations:hover .ets_svg-delete:before{
    background-image: url('data:image/svg+xml;charset=utf8,<svg style="fill:rgb(25 169 198);" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M704 736v576q0 14-9 23t-23 9h-64q-14 0-23-9t-9-23v-576q0-14 9-23t23-9h64q14 0 23 9t9 23zm256 0v576q0 14-9 23t-23 9h-64q-14 0-23-9t-9-23v-576q0-14 9-23t23-9h64q14 0 23 9t9 23zm256 0v576q0 14-9 23t-23 9h-64q-14 0-23-9t-9-23v-576q0-14 9-23t23-9h64q14 0 23 9t9 23zm128 724v-948h-896v948q0 22 7 40.5t14.5 27 10.5 8.5h832q3 0 10.5-8.5t14.5-27 7-40.5zm-672-1076h448l-48-117q-7-9-17-11h-317q-10 2-17 11zm928 32v64q0 14-9 23t-23 9h-96v948q0 83-47 143.5t-113 60.5h-832q-66 0-113-58.5t-47-141.5v-952h-96q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h309l70-167q15-37 54-63t79-26h320q40 0 79 26t54 63l70 167h309q14 0 23 9t9 23z"/></svg>');
}
.table.product.mt-3 td span {
    display: inline-block;
}
button.loading i:before{
    opacity: 0;
}
button.loading:hover i:after {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
button#form_step6_attachment_product_add.loading{
    color: rgba(0,0,0,0.1)!important
}
button.loading i:after, button#form_step6_attachment_product_add.loading:before {
    content: "";
    display: block;
    position: absolute;
    -webkit-animation: loading 0.5s infinite linear;
    animation: loading 0.5s infinite linear;
    left: 50%;
    top: 50%;
    z-index: 10;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-radius: 50%;
}
button#form_step6_attachment_product_add.loading:before{
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
#filter_column_id_product_div input.form-control.error{
    -webkit-animation: errorbackground 1s infinite linear;
    animation: errorbackground 1s infinite linear;
}
@keyframes errorbackground {
    0% {
        background-color: red;
        opacity: 0;
    }
    5% {
        background-color: red;
        opacity: 0;
    }
    23%,27% {
        opacity: 1;
    }
    47%,53% {
        opacity: 0;
    }
    72%,78% {
        opacity: 1;
        background-color: red;
    }
    100% {
        background-color: #fff;
        opacity: 1;
    }
}
.ets-czf-item-lang-input .input-group.locale-input-group.d-flex {
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}
.form_view_select_header {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    width: 100%;
    margin-bottom: 15px;
}
.form_view_select_header label {
    margin-right: 7px;
    font-weight: bold;
}
.form_view_select_header div#form_view_selected {
    width: 90%;
}
button.float-right.close.ets_pmn_close_image:before {
    content: "";
    height: 12px;
    width: 1px;
    background: #333;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);
}
button.float-right.close.ets_pmn_close_image:after {
    content: "";
    height: 1px;
    width: 12px;
    background: #333;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);
}
button.float-right.close.ets_pmn_close_image {
    font-size: 0;
    position: absolute;
    top: 3px;
    right: 3px;
    width: 14px;
    height: 14px;
    opacity: 0.8;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.ets_mp_product_tab_content i.icon-new:before {
    content: "\f055";
    font-family: Fontawesome, sans-serif;
    font-style: normal;
    margin-right: 3px;
}
.specific_price_id_customer .customer_selected {
    background: #2fb5d2 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    left: 9px;
    padding: 4px 10px;
    position: absolute;
    top: 3px;
    display: inline-block;
    white-space: nowrap;
    align-items: center;
    max-width: calc(100% - 18px);
    padding-right: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}
span.delete_customer_search {
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    height: 10px;
    margin-left: 4px;
    position: absolute;
    transform: rotate(45deg);
    vertical-align: -1px;
    width: 5px;
    right: 7px;
    top: 8px;
}
span.delete_customer_search::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0px);
    width: 10px;
}
span.delete_customer_search::after {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 10px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0px);
    width: 1px;
}
td.column.related_product .popup_change_product br {
    display: none;
}
.ui_tpicker_hour .ui-widget.ui-widget-content,
.ui_tpicker_minute .ui-widget.ui-widget-content{
    height: 11px;
    margin-top: 5px;
    position: relative;
}
.ui_tpicker_hour .ui-slider-handle.ui-state-default,
.ui_tpicker_minute .ui-slider-handle.ui-state-default{
    width: 11px;
    min-width: 10px;
    display: inline-block;
    top: -5px;
    position: absolute;
    bottom: -5px;
    cursor: pointer;
}
table.table.product.pm-js-table-fixed {
    border: none;
    margin: 0;
}
span.js-czf-btn-delete-doc {
    cursor: pointer;
}
.column.module_logo .popup_change_product img {
    width: 50px;
}
.span_change_product .ets_content_file,
.column.doc_name .content a {
    word-break: break-all;
}
.ui-timepicker-div dl dd {
    margin-left: 60px;
}
#growls-default .growl-title{
    display:none;
}
.module_confirmation.conf.confirm.alert.alert-success button.close,
.module_error.alert.alert-danger button.close {
    margin-right: 0;
}
.module_confirmation.conf.confirm.alert.alert-success, .module_error.alert.alert-danger {
    min-width: 300px;
    position: fixed;
    right: 60px;
    top: 50px;
    z-index: 100000;
    padding-right: 20px;
    white-space: normal;
    max-width: 400px;
    padding-left: 60px;
}
#form_step3 .module_confirmation.conf.confirm.alert.alert-success {
    min-width: 300px;
    position: relative;
    right: auto;
    top: auto;
    z-index: auto;
    padding-right: 20px;
    white-space: normal;
    max-width: 100%;
    margin: 4px 10px 20px;
}

.pagination_list_product .page-link {
    background: transparent!important;
}
.group-action-update-product button.btn-default.loading[name="submitProductChangeInLine"] i {
    min-height: 14px;
    display: inline-block;
    min-width: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);
}

tr.ets_no_product {
    position: relative;
    height: 45px;
    border-bottom: 1px solid #fff;
}
td.no-product {
    position: absolute;
    border: none;
    text-align: center;
    width: 100%;
}
.ets_svg_icon.doc-icon.doc-icon-zip svg {
    fill: #25b9d7;
}
.products-catalog .table-responsive .form-group .translatable-field .ets_seo_meta_code {
    margin-bottom: 3px;
}
i.btn-delete-file-trash {
    min-width: 16px;
    display: inline-block;
    line-height: 22px;
}
button.btn-delete-file.js-ets-ept-delete-file {
    border: none;
    background: #fff;
    padding-top: 5px;
    cursor: pointer;
    border-radius: 2px;
    vertical-align: middle;
}
.file-uploaded a.ets_ept_file.btn.btn-default:hover {
    color: #25c0e3;
    border-color: #25c0e3;
}
.ets_ept_file span.ets_ept_icon_file {
    width: 16px;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
}
.ets_ept_file span.ets_ept_icon_file svg {
    fill: #666;
}
.file-uploaded a.ets_ept_file.btn.btn-default {
    font-size: 13px;
    font-weight: normal;
    color: #777;
    border: 1px solid #ddd;
}
button.btn-delete-file.js-ets-ept-delete-file:hover {
    background: transparent!important;
}
.ets-czf-item-lang-input .context-text-wrapper {
    width: 100%;
    display: block;
    position: relative;
}