.modal {
    position: fixed;
    inset: 0;
    z-index: 1050;
    background: rgba(0, 0, 0, 0.6);
    padding-right: 0 !important;
    transition: var(--transition-150);
    display: none;
    align-items: center;
    justify-content: center;

    &.in {
        opacity: 1;

        .modal-dialog {
            transform: none;
        }
    }
}

.modal-dialog {
    margin: 15px auto;
    max-width: 600px;
    width: 90%;
}

.modal-content {
    padding: 0;
    border: none;
    border-radius: var(--radius-default);
}

.modal-body {
    padding: 0;
}

.modal-backdrop {
    display: none;
}
