.grid-view-products {
    display: flex;
    flex-wrap: wrap;
    margin: -6px -6px 0;

    .grid-view-products-item {
        display: flex;
        padding: 6px;
    }

    .product-card {
        width: 100%;
        margin: 0;
        border: none;
        box-shadow: none;
    }

    .product-card .product-name {
        text-align: center;
    }

    .product-card .product-name span {
        display: block;
        text-align: center;
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
        -webkit-line-clamp: unset;
        -webkit-box-orient: unset;
    }

    .product-card-bottom .btn-add-to-cart {
        display: none !important;
    }

    .product-card-bottom {
        height: auto;
        justify-content: center;
    }

    .product-card .product-price {
        width: 100%;
        align-items: center;
    }

    .product-card-middle {
        text-align: center;
    }

    .product-card .product-rating {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .product-card .product-rating .back-stars {
        display: inline-flex;
        justify-content: center;
    }
}

.grid-view-products {
    .grid-view-products-item {
        width: 16.66%;
    }
}

@media screen and (max-width: 1760px) {
    .grid-view-products {
        .grid-view-products-item {
            width: 20%;
        }

        .grid-view-product-skeleton {
            &:nth-child(10) ~ .grid-view-product-skeleton {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .grid-view-products {
        .grid-view-products-item {
            width: 25%;
        }

        .grid-view-product-skeleton {
            &:nth-child(8) ~ .grid-view-product-skeleton {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .grid-view-products {
        .grid-view-products-item {
            width: 33.33%;
        }

        .grid-view-product-skeleton {
            &:nth-child(6) ~ .grid-view-product-skeleton {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .grid-view-products {
        .grid-view-products-item {
            width: 25%;
        }

        .grid-view-product-skeleton {
            display: flex !important;
        }

        .grid-view-product-skeleton {
            &:nth-child(8) ~ .grid-view-product-skeleton {
                display: none !important;
            }
        }
    }
}

@media screen and (max-width: 830px) {
    .grid-view-products {
        .grid-view-products-item {
            width: 33.33%;
        }

        .grid-view-product-skeleton {
            &:nth-child(6) ~ .grid-view-product-skeleton {
                display: none !important;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .grid-view-products {
        .grid-view-products-item {
            width: 50%;
        }

        .grid-view-product-skeleton {
            &:nth-child(4) ~ .grid-view-product-skeleton {
                display: none !important;
            }
        }
    }
}
